.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


nav {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin: 0 200px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: end;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

span {
    color: #FD6E0A;
}

nav ul li {
    list-style: none;

}

nav li a {
    text-decoration: none;
}

.dark-2 {
    color: #474747;
}

.btn-style{
    background-color: #FD6E0A;
    color: white;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-contain{
    max-width: 580px;
}

.banner-title{
    font-size: 45px;
    font-weight: 600;
}

.banner-name{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.banner-caption{
    font-size: 18px;
    font: weight 14px; ;
    color: #757575;
}

.btn-two{
     background-color: white;
    color: #FD6E0A;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-color: #FD6E0A;
}
.banner-profile-image{
    width: 580px;
}















