.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: end;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

span {
    color: #FD6E0A;
}

nav ul li {
    list-style: none;

}

nav li a {
    text-decoration: none;
}

.dark-2,
.digree-name,
.skill-container,
.resume-column-title {
    color: #474747;
}



.bg-colour {
    background-color: #FFF8F3;
}


.btn-style {
    background-color: #FD6E0A;
    color: white;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-contain {
    max-width: 580px;
}

.banner-title {
    font-size: 45px;
    font-weight: 600;
}

.banner-name {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.banner-caption {
    font-size: 18px;
    font: weight 14px;
    color: #757575;
}

.btn-two {
    background-color: white;
    color: #FD6E0A;
    padding: 20px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-color: #FD6E0A;
}

.banner-profile-image {
    width: 580px;
}


.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.section-dis {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.about {
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    margin-top: 130px;

}

main {
    margin-top: 130px;
    margin-bottom: 130px;
    max-width: 1140px;
    margin: 0 auto;
}

.about-items {
    display: flex;
    justify-content: space-between;
}

.item-des {
    font-weight: bold;
}

.skills {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.skill-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    text-align: start;
    /* box-shadow: #474747; */
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.resume-container {
    display: flex;
    gap: 75px;

}

.resume-column-title {
    font-size: 30px;
    font-weight: bold;
}

.digree-name {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.collage-name {
    color: #757575;
    margin-bottom: 20px;
}

.summary {
    color: #757575;
}

.resume-column {
    margin-bottom: 50px;
}

.button-cv {

    text-align: center;
    margin-bottom: 110px;
}








